
header {
  background-color:blue;
}

footer {
    background-color:red;
    padding: 20px;

}

/*////////////////////////this is how to align columns... see  bellow*/

.column-1 {
    background-color:green;
    display: inline-block;
    width:50%;
    vertical-align:top;

}


.column-2 {
    background-color:aqua;
    display: inline-block;
    width:48%;
    vertical-align:top;
}
